body {
	background-color: peachpuff;
	color: Brown;
	font-family: Helvetica;
	
}

h1{ 
	color: Purple;
	text-align: center;
}

h2 {
	color: Orange;
	text-align:center;
}

h3{
	color: Blue;
	text-align: center;
}